<footer class="footer">
	<small>
		<a href="http://www.alonbt.com">Click here</a> to visit my site.
	</small>
	<nav>
		<ul>
			<li><%= link_to 'About', about_path %></li>
			<li><%= link_to 'Contact', contact_path %></li>
			<li><a href="http://www.alonbt.com">My site</a></li>
		</ul>
	</nav>
</footer>
